#p1,#p2,#p3,#p4
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 125%;
}

/* #new1
{
    position:absolute;
    top:30px;
    z-index:10;
    background: transparent;
    width:100%;
    height: 10%;
} */

h4
{
    font-family: 'Open Sans', sans-serif;
    padding-top: 3.5%;
    font-weight: bold;
} 

h5
{
    padding-top: 0.5%; 
    font-family: 'Open Sans', sans-serif;
    font-size: 110%; 
} 

section
{
    padding-left: 2%;
}

iframe
{
float: right; 
}

/* img
{
    padding-bottom: 15%;
} */

