#p1,#p2,#p3,#p4
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 125%;
}

#new1
{
    position:absolute;
    top:30px;
    z-index:10;
    background: transparent;
    width:100%;
}

.carousel-content {
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 20;
    color: rgb(236, 227, 227);
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.display-3
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#cap1 #cap2
{
    font-family: 'Open Sans', sans-serif;
}

#cap3
{
    color: black;
}